/* Estilizando a scrollbar para a classe "suspended-list" */
.suspended-list::-webkit-scrollbar {
    width: 10px; /* Largura da scrollbar */
  }
  
  .suspended-list::-webkit-scrollbar-track {
    background-color: #f1f1f100; /* Cor de fundo da área de track */
  }
  
  .suspended-list::-webkit-scrollbar-thumb {
    background-color: #ff0000; /* Cor do indicador da scrollbar */
   
  }
  
  .suspended-list::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor do indicador ao passar o mouse */
  }
  