
.my-custom-modal-container {

 background-color: rgba(255, 255, 255, 0.9);

}

.my-custom-modal-popup {
    height: 100%;
    width: 50%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
 }